rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {
    function isAllowedAdmin() {
      return request.auth != null
        && request.auth.token.name in ["Moksh","Moksh Shah", "Dheer Sheth"];
    }

    match /appState/{documentId} {
      allow read: if true;
      allow write: if isAllowedAdmin();
    }

    match /{document=**} {
      allow read: if true;
      allow write: if isAllowedAdmin();
    }
  }
}
